@import '../../../../../styles/variables';

.thd-success-upload {
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 5% auto;
  }

  &__icon {
    margin: 0 0 30px;
    color: get-color('success-thd');
    width: 240px;
    height: 240px;
  }

  &__msg {
    font-size: 22px;
    font-weight: 400;
  }

  &__stats {
    width: 50%;
    margin: 15px 0;
    padding-left: 30px;
    font-size: 15px;

    &__row {
      margin-left: 0;
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;

      &__title {
        font-weight: 400;
        text-align: right;
        padding-right: 7px;
        padding-left: 0;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }

      &__details {
        text-align: left;
        white-space: nowrap;
        padding-left: 7px;
        padding-right: 0;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
      }
    }
  }

  &__continue {
    display: flex;
    color: get-color('gray-500');
    text-align: center;
    font-size: 15px;

    &__new {
      cursor: pointer;
      color: get-color('link');
    }
  }
}
