@import '../../../../../styles/variables';

.thd-uploader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 0 66.66667%;

    &__wrapper {
      margin: 5% auto;
      text-align: center;

      p {
        color: get-color('gray-400');
        text-align: center;
        font-size: 17.5px;
        font-weight: 300;
      }
    }

    &__uploadIcon {
      margin: 47px 0 76px;
      color: get-color('gray-100-3');
    }
  }

  &__footer {
    &__add {
      cursor: pointer;
      color: get-color('link');
      margin-right: auto;
      letter-spacing: 0.4px;

      &__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-top: 9px;

        svg {
          width: 24px;
          height: 24px;
        }

        span {
          padding-left: 5px;
        }
      }
    }

    &__upload {
      color: get-color('gray-400');
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
      font-weight: 300;
    }
  }
}
