@import 'src/styles/variables';

.thd-edit-spin-name {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: get-color('white');
  background-clip: padding-box;
  font-weight: 300;
  color: #373a3c;
  outline: 0;
  pointer-events: auto;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    padding: 25px 30px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    position: relative;
    flex: 1 1 auto;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 30px;

    &__block {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      flex: 1 0 45%;
      max-width: 100%;

      img {
        width: 100%;
        max-width: 500px;
        max-height: 500px;
        object-fit: contain;
      }

      &-header {
        font-size: 16px;
        color: get-color('gray-500');
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    padding: 15px 30px;
    border-top: 1px solid get-color('border');

    &__add {
      margin-right: auto;
    }

    button + button {
      margin-left: 15px;
    }
  }
}
