@import '../../../../styles/variables';

.progress-bar {
  width: 100%;
  border-radius: 5px;
  background-color: get-color('border');

  &__value {
    height: 5px;
    border-radius: 5px;
    background-color: get-color('progress-bar');
  }
}
