@import 'src/styles/variables';

.vup-sfg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 15px 40px;
    border-bottom: 1px solid get-color('gray-100-3');
    background-color: get-color('white');
    z-index: 10000;

    h1 {
      flex: 1;
      margin: 0 0 0 20px;
      padding-left: 20px;
      border-left: 1px solid currentColor;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.1;
    }

    &__logo {
      display: block;
      width: 100px;
    }
  }

  &__content {
    flex: 1;
    overflow: auto;
    padding: 40px 30px;

    &__upload {
      display: flex;
      flex-direction: row;
      height: 100%;

      &__block {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;

        &__wrapper {
          margin: 5% auto;
          text-align: center;

          p {
            color: get-color('gray-400');
            text-align: center;
            font-size: 17.5px;
            font-weight: 300;
          }
        }
      }
    }

    &__uploadIcon {
      margin: 47px 0 76px;
      color: get-color('gray-100-3');
    }
  }

  &__footer {
    &__add {
      cursor: pointer;
      color: get-color('link');
      margin-right: auto;
      letter-spacing: 0.4px;

      &__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-top: 9px;

        svg {
          width: 24px;
          height: 24px;
        }

        span {
          padding-left: 5px;
        }
      }
    }

    &__upload {
      color: get-color('gray-400');
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
      font-weight: 300;
    }
  }
}
