@import '../../../../../../styles/variables';

.thd-uploader-guide {
  flex: 0 0 30%;
  max-width: 480px;

  &__wrapper {
    padding-bottom: 15px;
  }

  ul {
    margin-bottom: 20px;
    padding: 20px 20px 20px 35px;
    border-radius: 6px;
    background-color: #f5f7f8;

    li:not(:first-child) {
      margin-top: 8px;
    }
  }
}
