@import '../../../../styles/variables';

%_button-icon {
  color: get-color('gray-500');
  opacity: .7;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}
$_content-padding: 5px;
$_content-border: 1px solid transparent;
$_content-border-radius: 6px;

.vup-table-folder-image {
  flex: 0 0 calc(100% / 3 - 20px);
  min-width: 192px;
  margin: 10px;

  @media (min-width: 1400px) {
    flex: 0 0 calc(25% - 20px);
  }

  @media (min-width: 1800px) {
    flex: 0 0 calc(20% - 20px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 246px;
    padding: $_content-padding;
    border: $_content-border;
    border-radius: $_content-border-radius;

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 5px;
      width: 100%;
      opacity: 0;

      button {
        @extend %_button-icon;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    &--edit-visible {
      opacity: 1;
    }

    &:hover {
      border: 1px solid get-color('gray-100-4');
    }

    &__img {
      width: 128px;
      height: 128px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 10px 0 5px;
      text-align: center;

      &__name {
        width: 100%;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &__edit {
          div {
            height: inherit;
            padding: 0;
            font-size: 13px;

            input {
              font-size: inherit;
              text-align: center;
            }
          }
        }
      }

      &__size {
        font-size: 80%;
        color: get-color('gray-500');
      }
    }

    &__status {
      align-items: center;
      display: inline-flex;
      position: relative;

      span {
        color: get-color('error');
        cursor: help;
        text-align: center;
      }
    }
  }

  &__upload-success {
    color: get-color('success');
  }

  &__validation-success-icon {
    svg {
      color: get-color('success');
      width: 24px;
      height: 24px;
    }
  }

  &__error-popover {
    min-width: 250px;
    max-width: 400px;
    padding: 5px;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-break: auto;
    word-wrap: break-word;
    background-color: get-color('white');
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &__block {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      svg {
        color: get-color('error');
        width: 24px;
        height: 24px;
      }

      p {
        margin: 0;
        text-align: left;
      }
    }
  }

  &__upload-image {
    height: 100%;
    padding: $_content-padding;
    border: $_content-border;
    border-radius: $_content-border-radius;
    color: get-color('link');
    background-color: #f4f8fb;
    cursor: pointer;

    & div {
      height: 100%;
    }

    &:hover {
      border: 1px solid get-color('gray-100-4');
    }

    &__content {
      padding-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        width: 128px;
        height: 128px;
      }

      span {
        margin-top: 10px;
        font-size: 13px;
      }
    }
  }
}
