@import '../../../../styles/variables';

%_button-icon {
  color: get-color('gray-500');
  opacity: .7;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.vup-table-folder {
  &__item {
    border-bottom: 1px solid get-color('border');

    &--expanded {
      .vup-table-folder__item__expand-icon {
        button {
          transform: rotate(90deg);
        }
      }
    }


    &__col1 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      display: flex;
      align-items: center;
      padding: 0 15px 0 0;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: get-font-size('s');
    cursor: pointer;

    button {
      @extend %_button-icon;
    }
  }

  &__image-list {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0;
  }

  &__thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }

  &__count {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
    cursor: pointer;
  }

  &__validation {
    &--error {
      display: flex;
      flex-direction: row;
      color: get-color('error');

      &__summary {
        color: get-color('error');
        display: inline-block;
        white-space: nowrap;
      }

      &__separator {
        margin: 0 5px;
        color: get-color('gray-500');
      }
    }

    &--success {
      color: get-color('success');
      display: inline-block;
      white-space: nowrap;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 16.6666%;
    max-width: 16.6666%;

    button {
      @extend %_button-icon;
      margin-right: 10px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
