@import '../../../../styles/variables';

.vup-table {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  &__col1 {
    display: flex;
    align-items: center;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px 0 0;
  }

  &__col2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }

  &__col3 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: get-font-size('s');
    font-weight: 400;
    color: get-color('gray-500');
    background-color: get-color('white');

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid get-color('border');
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 20px;
    flex-shrink: 0;
    border-top: 1px solid get-color('border');
    align-items: center;

    button + button {
      margin-left: 15px;
    }
  }
}
