@import 'src/styles/variables';

.vup-folder-error-details {
  &__button {
    color: get-color('link');
    font-size: 14px;
  }

  &__body {
    max-width: 400px;
    padding: 15px;
    background-color: get-color('white');

    &__block {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      font-size: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      &__icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        color: get-color('error');
      }
    }

    &__message {
      span {
        color: get-color('main');
      }
    }
  }
}
