@import 'src/styles/variables';

.sfg-uploader-guide {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 15px;

  &__wrapper {
    background-color: #f5f7f8;
    color: get-color('gray-700');
    padding: 21px 42px;
  }

  h3 {
    font-weight: 400;
  }

  ul {
    padding-left: 18px;

    li {
      margin-top: 14px;
    }
  }

}
