@import '../../../../../styles/variables';

.vup-sfg-success-upload {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  &__content {
    display: flex;
    max-width: 600px;
    margin: 5% auto;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 200px;
    height: 200px;
    margin: 0 0 40px;
    color: get-color('success-thd');
  }

  &__continue {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: get-color('gray-400');

    &__new {
      cursor: pointer;
      color: get-color('link');
    }
  }
}
