@import 'src/styles/variables';

.thd-spin-uploader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: flex;
    height: 60px;
    padding: 15px 40px;
    border-bottom: 1px solid get-color('gray-100-3');
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: get-color('white');

    h1 {
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.1;
    }

    &__logo {
      display: block;
      width: 54px;
      height: 28px;
    }

    &__homedepot-logo {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    height: 100%;
    padding: 40px;
    overflow: auto;
  }
}
