@import 'src/styles/variables';

.vup-sfg-auth {
  margin: 30px 0;
  width: 420px;
  padding: 50px 30px 30px;
  border: 1px solid get-color('border');;
  border-radius: 7px;
  box-shadow: 0 0 8px rgb(86 92 98 / 15%);

  @media only screen and (min-width: 1800px) {
    width: 507px;
  }

  &__wrapper {
    margin: auto;

    h2 {
      margin-top: 80px;
      text-align: center;
    }
  }


  &__form {
    margin-bottom: 21px;

    input {
      height: 32px;
      font-weight: 100;
      font-size: 15px;

      &::placeholder {
        color: get-color('gray-400');
      }
    }

    &__label {
      padding: 5px 0;
    }

    &--error {
      margin-top: 5px;
      color: get-color('error')
    }
  }

  &__btn-submit {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }
}
