@import 'src/styles/variables';

.thd-auth {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 60px;
    text-align: center;
  }

  &__content {
    margin-top: 20px;
    padding: 40px;
    border: 1px solid get-color('border');;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(86, 92, 98, .15);

    @media only screen and (min-width: 600px) {
      width: 360px;
    }

    @media only screen and (min-width: 768px) {
      width: 480px;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &__form {
    margin-bottom: 25px;
  }
}
